html {
	font-size: 16px;
}

body {
	background-color: #000;
	font-family: verdana, sans-serif;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/* header */

header {
	text-align: center;
}

header h1 {
	color: #fff;
	font-size: 3.125rem;
}

header a {
	color: aquamarine;
}

/* video */

.video {
	text-align: center;
	margin-top: 2rem;
}